.span1 {
    letter-spacing: 5px;
    word-spacing: 10px;
    text-transform: uppercase;
  }
  
  .span2 {
    letter-spacing: 3px;
    word-spacing: 6px;
    text-transform: uppercase;
  }
  
  .span3 {
    letter-spacing: 1px;
    word-spacing: 2px;
    text-transform: uppercase;
  }
  