/* Estilo para el encabezado h1 */
h1 {
    color: white;
    background-color: darkred;
    font-family: Arial, sans-serif;
  }
  
  /* Estilo para el encabezado h2 */
  h2 {
    color: black;
    background-color: orange;
    font-style: italic;
  }
  
  h3 {
    color: navy;
    background-color: lightgray;
    text-transform: uppercase;
  }
  
  h4 {
    color: green;
    background-color: beige;
    text-decoration: underline;
  }
  
  h5 {
    color: purple;
    background-color: lightyellow;
    letter-spacing: 2px;
  }
  
  h6 {
    color: brown;
    background-color: lightblue;
    font-weight: lighter;
  }
  