.pregunta {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    color: #0000aa;
  }
  
  .respuesta {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    text-align: justify;
    color: #555555;
  }
  